<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport"
        content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- import CSS -->
    <link rel="icon" type="image/x-icon" href="yanferr.ico" />
    <link rel="stylesheet" href="css/index.css">
</head>
<title>来嘛！</title>

<body>
    <div id="app">
        <el-card shadow="always" :class="{'box-card-windows':!isPhone,'box-card-phone':isPhone}">
            <div @click="back" id="divtopleft" class="submitdiv"></div>
            <div @click="front" id="divtopright" class="submitdiv"></div>
            <el-input class="inputQues" placeholder="输入问题" v-model="ques">
            </el-input>
            <!-- 
            <el-radio-group v-if="isPhone" v-model="scene" size="small">
                <el-radio-button label="interv"></el-radio-button>
                <el-radio-button label="daily"></el-radio-button>
                <el-radio-button label="debug"></el-radio-button>
                <el-radio-button label="book"></el-radio-button>
                <el-radio-button label="other"></el-radio-button>
            </el-radio-group>
            <el-radio-group v-if="!isPhone" v-model="scene" size="medium">
                <el-radio-button label="interv"></el-radio-button>
                <el-radio-button label="daily"></el-radio-button>
                <el-radio-button label="debug"></el-radio-button>
                <el-radio-button label="book"></el-radio-button>
                <el-radio-button label="other"></el-radio-button>
            </el-radio-group> -->
            <br><br><br>
            <el-select :popper-append-to-body="false" :default-first-option="true" v-model="optionsValue" multiple filterable allow-create
                default-first-option placeholder="选择标签" autocomplete>
                <el-option v-for="item in labels" :key="item.labelId" :label="item.labelName" :value="item.labelName">
                </el-option>
            </el-select>
            <br><br>
            <br>
            <el-input @paste.native.capture.prevent="pasting" :rows="10" type="textarea" placeholder="输入答案"
                v-model="answer">
            </el-input>
            <div @dblclick="toList" id="divbuttonleft" class="submitdiv"></div>
            <div @click="clickToSubmit" id="divbuttonright" class="submitdiv"></div>
        </el-card>
    </div>
</body>
<script src="./js/axios.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/index.js"></script>
<script src="./js/jquery-1.11.3.js"></script>
<script src="./api/quesApi.js"></script>
<script>
    
    new Vue({
        el: '#app',
        data() {
            //这里存放数据
            return {
                planDay: 0,
                labels: [],
                optionsValue: [],
                quesId: null,
                answerId: null,
                ques: "",
                answer: "",
                scene: "interv",
                isPhone: false,
                pageIndex: -1 // 当前页为新增页
            };
        },
        methods: {
            pasting(event) {
                let txt = event.clipboardData.getData('Text')
                console.log(event.clipboardData.getData('Text'))
                if (typeof (txt) == 'string') {
                    this.textMsg += txt
                }
                let file = null
                const items = (event.clipboardData || window.clipboardData).items
                console.log(items)
                if (items.length) {
                    for (let i = 0; i < items.length; i++) {
                        if (items[i].type.indexOf('image') !== -1) {
                            file = items[i].getAsFile()
                            console.log(file)
                            this.handleChange(file)
                            if (!this.canUpload) {
                                this.canUpload = !this.canUpload;
                            }
                            break
                        }
                    }
                }
            },
            
            // 上传
            handleChange(file, filelist) {
                console.log(file, filelist)
                let formData = new FormData()
                formData.append('file', file.raw || file)
                axios.post(
                        url, formData, {
                            headers: {
                                'Content-type': 'multipart/form-data',
                                bwToken: token
                            }
                        }
                    ).then(res => {
                        console.log(res.data, '1321312321')
                        let obj = new Object();
                        obj.url = res.data.data
                        obj.name = res.data.data.split('/').slice(-1).join();
                        this.fileList.push(obj)
                        console.log(this.fileList)
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },

            toList() {
                // location.href="list.html"
                // document.location.href = '/list.html?timestamp=' + Math.random();
                document.location.href = '/list.html';

            },
            front() {
                if (this.pageIndex <= 0) {
                    this.$message({
                        center: true,
                        message: '<( ￣^￣)(θ(θ☆( >_< 到头啦！',
                        duration: 500,
                        type: 'error'
                    });
                    return;
                }
                this.pageIndex = this.pageIndex - 1;

                // http://yanferr.com:8080/qa/ques/save
                axios.get('http://yanferr.com:8080/qa/ques/backOrFront', {
                        params: {
                            pageIndex: this.pageIndex,
                        }
                    })
                    .then(res => {
                        if (res && res.data.code === 0) {
                            data = res.data.data;

                            console.log(data);
                            this.quesId = data.quesId;
                            this.answerId = data.answerId;
                            this.ques = data.ques;
                            this.answer = data.answer;
                            this.scene = data.scene;
                            this.optionsValue = [];
                            this.lablesWithQuesId(this.quesId);
                            // this.$message({
                            //     center: true,
                            //     message: '=>  已返回下一条 ',
                            //     type: 'success'
                            // });
                        } else {
                            alert("返回下一条数据失败")
                        }
                    }).catch(function (error) {
                        alert("返回下一条数据失败")
                    });

            },
            back() {
                this.pageIndex = this.pageIndex + 1;
                // http://yanferr.com:8080/qa/ques/save
                axios.get('http://yanferr.com:8080/qa/ques/backOrFront', {
                        params: {
                            pageIndex: this.pageIndex,
                        }
                    })
                    .then(res => {
                        if (res && res.data.code === 0) {
                            if (res.data.data === null) {
                                this.pageIndex = this.pageIndex - 1;
                                this.$message({
                                    center: true,
                                    message: '<( ￣^￣)(θ(θ☆( >_< 到头啦！',
                                    duration: 500,
                                    type: 'error'
                                });
                            } else {
                                data = res.data.data;
                                console.log(data);
                                this.quesId = data.quesId;
                                this.answerId = data.answerId;
                                this.ques = data.ques;
                                this.answer = data.answer;
                                this.scene = data.scene;
                                this.optionsValue = [];
                                this.lablesWithQuesId(this.quesId);
                                // this.$message({
                                //     center: true,
                                //     message: '<=  已返回上一条 ',
                                //     type: 'success'
                                // });
                            }
                        } else {
                            alert("返回上一条数据失败")
                        }
                    }).catch(error => {
                        alert("返回上一条数据失败")
                    });


            },
            lablesWithQuesId(quesId) {
                axios.get(`http://yanferr.com:8080/qa/label/labels/${quesId}`)

                    .then(res => {
                        var data = res.data.data;
                        for (var i = 0; i < res.data.data.length; i++) {
                            this.optionsValue.push(data[i].labelName);
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
                console.log(this.optionsValue)

            },
            loadLabels() {
                axios.get('http://yanferr.com:8080/qa/label/list')
                    .then(res => {

                        if (res && res.data.code === 0) {

                            // console.log(res.data.page.list);
                            this.labels = res.data.page.list;
                            console.log(this.labels);
                        } else {
                            alert("标签数据加载失败")
                        }
                    })
            },
            submit() {
                // http://yanferr.com:8080/qa/ques/save
                axios.post('http://yanferr.com:8080/qa/ques/save', {
                    quesId: this.quesId,
                    answerId: this.answerId,
                    ques: this.ques,
                    scene: this.scene,
                    answer: this.answer,
                    labelNames: this.optionsValue
                }).then(res => { // 必须要用箭头函数
                    if (res && res.data.code === 0) {
                        this.$message({
                            message: '添加成功',
                            type: 'success'
                        });
                        location.reload();
                    } else {
                        alert("添加失败")
                    }
                }).catch(function (error) {
                    alert("添加失败")
                });
            },
            clickToSubmit() {
                if (this.ques.trim().length === 0) {
                    this.$message({
                        center: true,
                        message: '=>  问题不能为空 ',
                        type: 'error'
                    });
                    return;
                }
                if (this.answer.trim().length === 0) {
                    this.$message({
                        center: true,
                        message: '=>  答案不能为空 ',
                        type: 'error'
                    });
                    return;
                }
                this.submit();
            },
        },
        mounted() {
            this.loadLabels();
            if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                this.isPhone = true;
                // window.location.href = "mindex.html";
                $(document).ready(function () {
                    $(".el-card__body,.el-main").css("width", "300px");
                });
            } else {
                this.isPhone = false;
                // $(document).ready(function () {
                //     $(".el-input__inner").css("width", "450px");
                // });
                $(document).ready(function () {
                    $(".el-card__body,.el-main").css("width", "350px");
                });
            }
        }
    })
</script>
<style scoped>
    @import url("//unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css");

    /* @import "./css/index.css"; */
    .el-card {
        border-radius: 10px;
    }

    .el-card__body,
    .el-main {
        width: 350px;
        padding: 20px;
        padding-top: 0px;
    }

    .box-card {
        width: 380px;

    }

    body {
        margin: 0 auto;
    }

    .box-card-windows {

        margin: 10% auto 100px;
        display: table;
    }

    .box-card-phone {
        margin: 35% auto 100px;
        display: table;
    }

    .submitdiv {
        height: 45px;
        width: auto;
    }

    .backdiv {
        height: 25px;
        width: auto;
        margin-bottom: 0px;
        padding: 0%;
    }

    #divtopright {
        float: left;
        width: 50%;
    }

    #divtopleft {
        float: left;
        width: 50%;
    }

    #divbuttonleft {
        float: left;
        width: 50%;
    }

    #divbuttonright {
        float: left;
        width: 50%;
    }
</style>

</html>