<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport"
        content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- import CSS -->
    <link rel="icon" type="image/x-icon" href="yanferr.ico" />
    <link rel="stylesheet" href="css/index.css">
    <title>看嘛！</title>
</head>

<body>
    <div id="app">
        <div class="search" @dblclick="dblclick" style="z-index:999;margin:0px auto;">
            <input @keyup.esc="esc" v-model="search" @keyup.enter="enter" class="search" />
        </div>
        <el-card v-if="!isPhone" shadow="always" class="box-card-windows">
            <el-table :show-header="false" :row-class-name="tableRowClassName" @select="selectChange"
                @row-dblclick="rowClick" :data="tableData" style="width: 100%">
                <el-table-column :show-overflow-tooltip="true" type="selection" width="30">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="ques">
                </el-table-column>
                <el-table-column width="45">
                    <template slot-scope="scope">
                        <img v-if="scope.row.highLight!=-1" :src="scope.row.imgPath" alt=""
                            style="width: 25px;height: 23px;">
                        </el-button>
                    </template>
                </el-table-column>
                <!-- <el-table-column v-show="false" prop="createTime" width="98px">
                </el-table-column> -->
            </el-table>
        </el-card>
        <el-table v-if="isPhone" :row-class-name="tableRowClassName" :show-header="false" @select="selectChange"
            @row-dblclick="rowClick" :data="tableData" style="width: 100%">
            <el-table-column :show-overflow-tooltip="true" type="selection" width="30px">
            </el-table-column>
            <el-table-column :show-overflow-tooltip="true" prop="ques">
            </el-table-column>
            <el-table-column width="45">
                <template slot-scope="scope">
                    <img :src="scope.row.imgPath" alt="" style="width: 25px;height: 23px">
                    </el-button>
                </template>
            </el-table-column>
            <!-- <el-table-column v-show="false" prop="createTime" width="98px">
                </el-table-column> -->
        </el-table>

        <el-dialog :close-on-click-modal="false" :visible.sync="drawer" :fullscreen="isPhone" width="40%" center>

            <el-row>
                <el-col :span="24">
                    <el-input class="inputQues" placeholder="输入问题" v-model="ques">
                    </el-input>
                </el-col>

            </el-row>

            <br><br>
            <br>
            <el-input placeholder="溯源信息" v-model="source" clearable>
            </el-input>
            <br><br><br>
            <el-row>
                <el-col :span="12">
                    <el-select :default-first-option="true" v-model="optionsValue" multiple filterable allow-create
                        default-first-option placeholder="选择标签" autocomplete>
                        <el-option style="width:100%" v-for="item in labels" :key="item.labelId" :label="item.labelName"
                            :value="item.labelName">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="12">
                    <!-- 实现逻辑：打开只需更新lastView和设置highLight=0,关闭只需设置highLight=-1 -->
                    <el-switch v-model="active" @change="memory" :disabled="disableswitch" active-value="true"
                        inactive-value="false" active-text="记忆">
                    </el-switch>
                </el-col>
            </el-row>


            <br><br>
            <br>
            <el-input :rows="10" type="textarea" placeholder="输入答案" v-model="answer">
            </el-input>
            <div @dblclick="clickToSubmit" class="submitdiv"></div>

            <div @click="clickclose">
                创建问题时间：{{this.createTime}}
                <br>
                最后一次修改：{{this.updateTime}}
                <br>
                当前记忆等级：<img :src=levelImg style="width: 10%;">
            </div>
        </el-dialog>
    </div>
</body>
<script src="./js/axios.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/index.js"></script>
<script src="./js/jquery-1.11.3.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            //这里存放数据
            return {
                active: "", // 激活记忆，true&false
                labels: [],
                memoryLevel: "",
                highLight: null,
                levelImg: "",
                optionsValue: [],
                search: "",
                drawer: false,
                tableData: [],
                quesId: null,
                answerId: null,
                createTime: "",
                updateTime: "",
                ques: "",
                disableswitch: false,
                answer: "",
                source: null,
                scene: "",
                isPhone: false,
                pageIndex: -1, // 当前页为新增页
                showFixedSearch: false,
                selectIds: [], // 选中的row
            };
        },

        methods: {

            tableRowClassName({
                row,
                rowIndex
            }) {
                if (row.highLight === 1) {
                    return 'warning-row'
                } else if (row.highLight === 2) {
                    return 'delay-row'
                } else {
                    return '';
                }

            },
            memory() {
                axios.get('http://localhost:8080/qa/ques/joinMemory', {
                        params: {
                            active: this.active,
                            quesId: this.quesId
                        }
                    })
                    .then(res => {
                        if (res && res.data.code === 0) {
                            this.$message({
                                message: '切换成功',
                                type: 'success'
                            });
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                    });
            },

            clickclose() {
                this.drawer = false;
            },
            selectChange(selected) {
                this.selectIds = [];
                for (var i = 0; i < selected.length; i++) {
                    this.selectIds.push(selected[i].quesId);
                }
            },
            // input监听enter
            enter() {
                if (this.search === "del") {
                    this.deleteBatch();
                } else if (this.search === "chl") {
                    this.cancelHighLight();
                } else { // 如果是数字，包括小数点
                    this.searchQ();
                }
            },
            cancelHighLight() {
                if (this.selectIds.length === 0) {
                    this.$message({
                        message: '请选择数据',
                        type: 'error'
                    });
                    return;
                }
                axios.post("http://yanferr.com:8080/qa/ques/cancelHL",
                        JSON.stringify(this.selectIds), {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(res => {
                        if (res && res.data.code === 0) {
                            this.$message({
                                showClose: true,
                                message: '已取消高亮显示',
                                type: 'success'
                            });
                            this.search = "";
                            this.getDataList();
                        } else {
                            this.$message({
                                showClose: true,
                                message: res.data.data,
                                type: 'error'
                            })
                        };
                    }).catch(function (error) {
                        console.log(error);
                    });



            },
            searchQ() {
                axios.get('http://yanferr.com:8080/qa/ques/search', {
                        params: {
                            search: this.search,
                        }
                    })
                    .then(response => {
                        this.tableData = response.data.data;
                        // 处理
                        this.getImgPath();
                    })
                    .catch(function (error) { // 请求失败处理
                    });
            },
            deleteBatch() {
                if (this.selectIds.length === 0) {
                    this.$message({
                        message: '请选择数据',
                        type: 'error'
                    });
                    return;
                }
                axios.post("http://yanferr.com:8080/qa/ques/delete",
                        JSON.stringify(this.selectIds), {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(res => {
                        if (res && res.data.code === 0) {
                            this.$message({
                                showClose: true,
                                message: '删除成功',
                                type: 'success'
                            });
                            this.search = "";
                            this.getDataList();
                        } else {
                            this.$message({
                                showClose: true,
                                message: res.data.data,
                                type: 'error'
                            })
                        };
                    }).catch(function (error) {
                        console.log(error);
                    });

                this.getDataList();
            },
            // input监听esc
            esc() {
                this.search = "";
            },
            // 修改答案
            updateAnswer() {
                axios.post('http://yanferr.com:8080/qa/answer/update', {
                    answerId: this.answerId,
                    answer: this.answer
                }).then(res => {
                    if (res && res.data.code === 0) {
                        this.$message({
                            showClose: true,
                            message: '修改成功',
                            type: 'success'
                        });
                    } else {
                        this.$message({
                            showClose: true,
                            message: res.data.data,
                            type: 'error'
                        })
                    };
                    this.showAnswerDialog = false;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            rightClick() {
                alert("dsf")
            },
            dblclick() {
                document.location.href = '/index.html';
            },
            submit() {
                this.optionsValue = this.optionsValue.filter(item => item != null)
                // http://yanferr.com:8080/qa/ques/save
                axios.post('http://yanferr.com:8080/qa/ques/save', {
                    quesId: this.quesId,
                    answerId: this.answerId,
                    ques: this.ques,
                    scene: this.scene,
                    answer: this.answer,
                    labelNames: this.optionsValue
                }).then(res => { // 必须要用箭头函数
                    if (res && res.data.code === 0) {
                        this.$message({
                            showClose: true,
                            message: '操作成功',
                            duration: 500,
                            type: 'success'
                        });
                        if (this.search === "") {
                            this.getDataList();
                        } else {
                            this.searchQ();
                        }
                        this.drawer = false;
                    } else {
                        alert("添加失败")
                    }
                }).catch(function (error) {
                    alert("添加失败")
                });
            },
            getImgPath() {
                for (var i = 0; i < this.tableData.length; i++) {
                    this.tableData[i].imgPath = "./pic/lv" + this.tableData[i].memoryLevel + ".png";
                }
            },
            clickToSubmit() {
                if (this.ques.trim().length === 0) {
                    this.$message({
                        center: true,
                        message: '=>  问题不能为空 ',
                        type: 'error'
                    });
                    return;
                }
                if (this.answer.trim().length === 0) {
                    this.$message({
                        center: true,
                        message: '=>  答案不能为空 ',
                        type: 'error'
                    });
                    return;
                }
                this.submit();
            },
            getDataList() {
                axios.get('http://yanferr.com:8080/qa/ques/list')
                    .then(response => {
                        this.tableData = response.data.page.list;
                        this.getImgPath();
                        console.log(this.tableData)
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            loadLabels() {
                axios.get('http://yanferr.com:8080/qa/label/list')
                    .then(res => {
                        if (res && res.data.code === 0) {
                            // console.log(res.data.page.list);
                            this.labels = res.data.page.list;
                        } else {
                            alert("标签数据加载失败")
                        }
                    })
            },
            lablesWithQuesId(quesId) {
                axios.get(`http://yanferr.com:8080/qa/label/labels/${quesId}`)

                    .then(res => {
                        var data = res.data.data;
                        for (var i = 0; i < res.data.data.length; i++) {
                            this.optionsValue.push(data[i].labelName);
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
                console.log(this.optionsValue)

            },
            //行单击事件
            rowClick(row, column, event) {
                this.optionsValue = [];
                this.loadLabels();
                this.lablesWithQuesId(row.quesId);
                this.quesId = row.quesId;
                this.drawer = true;
                this.answerId = row.answerId;
                this.scene = row.scene;
                this.ques = row.ques;
                this.createTime = row.createTime;
                this.updateTime = row.updateTime;
                this.getAnswerById(this.answerId);
                this.memoryLevel = row.memoryLevel;
                this.disableswitch = this.memoryLevel >= 9;
                this.active = row.highLight >= 0 ? "true" : "false";
                // this.highLight = row.highLight;
                // this.levelImg = "./pic/lv" + memoryLevel + ".png",

                // 更新lastView、重新计算highLight
                this.updateHighLight(this.quesId);
            },
            updateHighLight(quesId) {
                axios.get(`http://yanferr.com:8080/qa/ques/updateHighLight/${quesId}`)
                    .then(response => {

                    })
                    .catch(function (error) { // 请求失败处理
                        alert("lastView更新失败")
                    });
            },
            getAnswerById(answerId) {
                axios.get(`http://yanferr.com:8080/qa/answer/info/${answerId}`)
                    .then(response => {
                        this.answer = response.data.answer.answer;
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            showSearch() {
                // 获取当前滚动条向下滚动的距离
                let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                // 当页面滚动到高度300px处时，显示搜索框
                if (scrollTop > 50) {
                    this.showFixedSearch = true;
                } else {
                    this.showFixedSearch = false;
                }
            },
        },
        mounted() {
            this.getDataList();

            if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                this.isPhone = true;
                // window.location.href = "mindex.html";

            } else {
                this.isPhone = false;
                // $(document).ready(function () {
                //     $(".el-card__body,.el-main").css("width", "96%");
                // });
            }
            // 监听页面滚动事件
            // window.addEventListener("scroll", this.showSearch);
        }
    })
</script>
<style scoped>
    @import url("//unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css");

    .el-card {
        border-radius: 40px;
    }



    /* 调整表格大小 */
    .el-card__body,
    .el-main {
        width: 96%;
    }

    .box-card-windows {
        margin: 1% auto 100px;
        display: table;
    }

    .box-card-phone {
        margin: 5% auto 100px;
        display: table;
    }

    .el-switch {
        margin-top: 10px;
    }

    .submitdiv {
        height: 45px;
        width: auto;
        margin-top: 20px;
    }

    .el-select .el-input {
        width: 130px;
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .toindex {
        height: 10px;
        width: 10px;
        display: block;
    }

    input {
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        /* 光标消失 */
        color: transparent;
        text-shadow: 0px 0px 0px #333;
        width: 100px;
        height: 7px;
        font-size: 5px;
    }


    .search {
        position: fixed;
        left: 60%;
        border: #fff;
    }

    .el-table .delay-row {
        background: oldlace;
    }

    .el-table .warning-row {
        background: #f0f9eb;
    }

    .el-table__row>td {
        border: none;
    }

    .el-table::before {
        height: 0px;
    }
</style>

</html>